$color-font: red;
$font-size: 50px;

body{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-repeat: no-repeat;
}
header{
    text-align: center;
    h1{
        color: $color-font;
    }
    h3{
        color: darkred;
    }
    p{
        
        text-align:center;
        color: darkviolet;
        margin: 0;
        
        &:hover{
            animation: bounce 1s;
            font-size: 50px;
        }
    }
}